button {
    color-group: button;

    color: palette-text;
    background-color: palette-background;

    border: 1px solid palette-separator;
    border-radius: 3px;

    width: 100px;
    height: 20px;

    padding: 5px;

    box-shadow: 2px 2px 1px #66000000;
/*     transition: border-color 0.1s; */
/*     background-color: palette-background; */
/*     color: palette-text; */
}

button :hover {
    border-color: palette-highlight;
}

button :focus {
    border-color: palette-highlight;
}

button :active {
    border-color: palette-highlight;
    box-shadow: 2px 2px 1px #00000000;
}

textfield {
    color-group: view;
    background-color: palette-background;
    color: palette-text;
    border: 1px solid palette-separator;
    border-radius: 3px;

    padding: 5px;
}

textfield :hover {
    border-color: palette-highlight;
}

textfield :focus {
    border: 3px solid palette-highlight;
}

textfield ::placeholder {
    color-group: view;
    color: palette-disabledtext;
}
